/* styles.css */
.sb-nav-fixed {
    margin-left: 225px; /* Sidebar width */
}

#layoutSidenav {
    display: flex;
}

.side-logo {
    display: flex;
    justify-content: center;
}

i {
    color: white;
}

.logo {
    width: 140px;
}

#layoutSidenav #layoutSidenav_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    z-index: 1038;
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-grow: 1;
    margin-left: 225px;
    min-height: 100vh;
}

#layoutSidenav_content main {
    flex: 1 0 auto;
}

#layoutSidenav_content footer {
    flex-shrink: 0;
}

.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(239, 120, 16);
    padding-top: 20px;
}

.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
    padding-bottom: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

/* 스크롤바 숨기기 - 모든 브라우저 지원 */
.sb-sidenav .sb-sidenav-menu::-webkit-scrollbar {
    display: none;
}

.sb-sidenav .sb-sidenav-menu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1rem 1rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255);
    position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.active {
    font-weight: 600;
    color: #fff;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
    padding-right: 0.5rem;
    color: rgba(255, 255, 255, 0.25);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform .15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    padding-left: 0;
}

.sb-sidenav .collapse {
    padding-left: 0;
}

.sb-sidenav .collapse.show {
    display: block;
}

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }

    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }

    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(-225px);
    }

    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -225px;
    }
}