

.topnav-custom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.topnav-i {
    color: black;
}

.topnav-search-input {
    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    outline: none;
}

.topnav-search-input:focus {
    outline: none;
    border: 1px solid rgba(241, 129, 30, 0.4);
}

.topnav-search-btn {
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    color: black;
    outline: none;
    cursor: pointer;
}

.topnav-search-btn:hover {
    background-color: rgba(241, 129, 30, 1);
    color: white;
    border-color: rgba(241, 129, 30, 1);
}