
.pricing-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
    border-color: rgba(241, 129, 30, 0.2);
    max-width: 450px;
    margin: 0 auto;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-md {
    width: 56px;
    height: 56px;
}

.avatar-xs {
    width: 24px;
    height: 24px;
}

.bg-info-transparent {
    background-color: rgba(241, 129, 30, 0.2);
}

.svg-primary svg {
    fill: rgba(241, 129, 30, 1);
}

.pricing-body {
    padding: 0;
    margin: 0;
}

.pricing-body li {
    margin-bottom: 1rem;
}

.pricing-body .avatar-xs {
    background-color: rgba(241, 129, 30, 0.2);
}

.plan-text {
    color: rgba(241, 129, 30, 1);
}

.badge.bg-info-transparent {
    color: rgba(241, 129, 30, 0.8);
    background-color: rgba(241, 129, 30, 0.2);
    padding: 0.35rem 0.75rem;
    font-weight: normal;
    font-size: 0.8rem;
    text-align: left;
    margin: 0.75rem auto;
    width: 100%;
    display: block;
}

.op-5 {
    opacity: 0.5;
}

.pricing-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pricing-body {
    width: 100%;
}

.pricing-body li {
    margin-bottom: 0.5rem;
}

.pricing-body li .d-flex {
    text-align: left;
}

.pricing-body li .d-flex span {
    font-size: 0.875rem;
}

.pricing-card .h2 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
    text-align: center;
}

.pricing-card .text-info {
    font-size: 1rem;
}

.pricing-card .text-dark {
    font-size: 0.805rem;
}

.pricing-card .badge {
    margin: 0.75rem 0;
    display: block;
    text-align: left;
    width: 100%;
}

.ri-check-double-line::before {
    content: "✓";
    color: rgba(241, 129, 30, 1);
}