.notice-detail-wrap {
    width: 80%;
  padding-bottom: 50px;
  padding-top: 20px;
}

.notice-detail-header-title {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.notice-detail-header-info {
  display: flex;
  gap: 20px;
}

.notice-detail-date-time {
  font-size: 14px;
  color: rgba(0,0,0,0.4);
}

.notice-detail-regNm {
  font-size: 14px;
  color: rgba(0,0,0,0.4);
}

.notice-detail-contents {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-top: 30px;
}

.notice-detail-footer {
  text-align: left;
  margin-top: 20px;
}

.notice-detail-back-button {
  padding: 5px 10px 5px 10px;
  width: 150px;
  font-size: 12px;
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.notice-detail-back-button:hover {
  background: rgba(241, 129, 30, 1);
  color: white;
  border-color: rgba(241, 129, 30, 1);
}