.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}
.question-register-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 90%;
    height: auto;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 999;
    overflow-y: auto;
}

/* 상단 제목 */
.question-register-header {
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 내용 전체 감싸는 부분 */
.question-register-contents {
    padding: 30px 40px;
}

/* 폼 전체 */
.question-register-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* 문의 유형 */
.question-register-type {
    display: flex;
    flex-direction: column;
}

.question-register-type label {
    margin-bottom: 8px;
    font-weight: 500;
}

.question-register-type select {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
}

.question-register-type select:focus {
    border-color:rgba(239, 120, 16, 0.8);
    border-radius: 6px 6px 0 0;
}

/* 제목 */
.question-register-title {
    display: flex;
    flex-direction: column;
}

.question-register-title-label {
    margin-bottom: 8px;
    font-weight: 500;
}

.question-register-title-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
}

.question-register-title-input:focus {
    border-color: rgba(239, 120, 16, 0.6);
}

/* 내용 */
.question-register-content {
    display: flex;
    flex-direction: column;
}

.question-register-content-label {
    margin-bottom: 8px;
    font-weight: 500;
}

.question-register-content-input {
    width: 100%;
    height: 250PX;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
    resize: none;
}

.question-register-content-input:focus {
    border-color: rgba(239, 120, 16, 0.6);
}

.question-register-img-box {
  width: 100%;
  height: 80px;
  border: 4px dotted #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

.question-register-img-box:hover {
    border-color: rgba(0,0,0,0.6);
    font-weight: bold;
}

.question-register-img-note {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
}

.question-register-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.question-register-cancel-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}

.question-register-cancel-button:hover {
  background-color: rgba(239, 120, 16, 1);
  color: white;
  border-color: rgba(239, 120, 16, 1);
}

.question-register-submit-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.question-register-submit-button:hover {
  background-color: rgba(241, 129, 30, 1);
  color: white;
  border-color: rgba(241, 129, 30, 1);
}