.membership-wrap {
  width: 90%;
  padding-bottom: 30px;
  margin: auto;
  padding-top: 20px;
}

/*헤더영역*/
.membership-header {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  margin: auto;
}

.membership-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}

/*요약 정보 영역*/
.membership-info {
  width: 100%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
  padding: 30px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.membership-cust-info {
  font-size: 20px;
  font-weight: bold;
}

.membership-plan-info {
  color: rgb(239, 120, 16);
}

.membership-cycle-info {
  font-size: 16px;
}

.membership-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.membership-shift-btn-group button {
  width: 120px;
  height: 40px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.membership-shift-btn-group button:hover {
  background-color: rgba(239, 120, 16, 1);
  color: white;
  border-color: rgba(239, 120, 16, 1);
}

/*기능 사용량 영역*/
.membership-usage-info {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.membership-usage-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.membership-usage-table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

.membership-usage-table th,
.membership-usage-table td {
  padding: 10px 20px;
  text-align: center;
}

.membership-usage-table td:nth-child(3) {
  width: 30%;
}

.membership-usage-table th {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.membership-usage-table td {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.membership-progress {
  width: 100%;
  height: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

/* Webkit 브라우저 (Chrome, Safari, Edge) */
.membership-progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.membership-progress::-webkit-progress-value {
  background-color: rgb(239, 120, 16);
  border-radius: 10px;
  transition: width 0.3s ease;
}

/* Firefox */
.membership-progress::-moz-progress-bar {
  background-color: rgb(239, 120, 16);
  border-radius: 10px;
  transition: width 0.3s ease;
}

/*플랜 결제 히스토리*/
.membership-credit-history {
  width: 100%;
  min-height: 300px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.membership-credit-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.membership-credit-subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}   

.membership-credit-table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

.membership-credit-table th,
.membership-credit-table td {
  padding: 10px 20px;
  text-align: center;
}

.membership-credit-table th {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.membership-credit-table td {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
