.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrap {
    width: 25%;
    height: 60%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 40px;
}

/*상단 영역*/
.register-top-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.register-top-text {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

/*중간 영역*/
.register-middle-title {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    height: 45px;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
    margin: 50px 0;
}

.register-middle-check-div {
    width: 20px;
    height: 20px;
}

.register-middle-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.register-middle-text {
    font-size: 16px;
    font-weight: bold;
}

.register-middle-check {
    font-size: 16px;
    font-weight: bold;
}

.register-middle-checkinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
}

/*하단 버튼 영역*/
.register-bottom-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.register-bottom-next-btn {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(241, 129, 25);
}