.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrap {
    width: 25%;
    min-width: 400px;
    max-width: 600px;
    min-height: 60%;
    max-height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
}

/*상단 영역*/
.register-top-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.register-top-text {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

/*중간 영역*/
.register-middle-title {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    height: 45px;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
    margin: 50px 0;
    position: relative;
}

.register-middle-check-div {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
}

.register-middle-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.register-middle-text {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.register-middle-check {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.register-middle-checkinfo {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.register-middle-checkinfo.first {
    border-top: none;
}

.register-middle-checkinfo.last {
    border-bottom: none;
}

.register-checkinfo-checkbox {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.register-middle-checkinfo .register-agreement {
    flex: 1;
    text-align: center;
    width: 100%;
}

.register-checkinfo-arrow {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

/*하단 버튼 영역*/
.register-bottom-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.register-bottom-next-btn {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(239, 120, 16);
}