.bizinfo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bizinfo-wrap {
  width: 25%;
  min-width: 400px;
  max-width: 600px;
  min-height: 60%;
  max-height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: auto;
}

/*상단 영역*/
.bizinfo-header {
  text-align: center;
}

.bizinfo-header-title {
  font-size: 20px;
  font-weight: bold;
}

.bizinfo-header-text {
  font-size: 14px;
}

/*progress 바*/
.bizinfo-progress {
  width: 100%;
  height: 5px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e0e0e0;
}

/* Chrome, Edge, Safari */
.bizinfo-progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  height: 5px;
}

.bizinfo-progress::-webkit-progress-value {
  background: rgb(239, 120, 16);
  height: 5px;
}

/* Firefox */
.bizinfo-progress::-moz-progress-bar {
  background: rgb(239, 120, 16);
  height: 5px;
}

/*중간 입력 폼 영역*/
.bizinfo-middle-bizno-check{
  width: 30%;
  height: 35px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(239, 120, 16);
  color: white;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.bizinfo-middle-bizno-check-div {
  display: flex;
  width: 100%;
  align-items: center;
}

.bizinfo-middle-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bizinfo-middle-subtitle {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

.bizinfo-middle-radio-div {
    display: flex;
    gap: 10px;
}

.bizinfo-middle-input {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    margin-top: 5px;
}

.spinner {
  -moz-appearance: textfield;
  appearance: none;
}

.spinner::-webkit-outer-spin-button,
.spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bizinfo-middle-radio-div > label {
  cursor: pointer;
}