.memberinfo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberinfo-wrap {
  width: 25%;
  min-width: 400px;
  max-width: 600px;
  min-height: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 40px;
}

/*상단 영역*/
.memberinfo-header {
  text-align: center;
}

.memberinfo-header-title {
  font-size: 20px;
  font-weight: bold;
}

.memberinfo-header-text {
  font-size: 14px;
}

/*progress 바*/
.memberinfo-progress {
  width: 100%;
  height: 5px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e0e0e0;
}

/* Chrome, Edge, Safari */
.memberinfo-progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  height: 5px;
}

.memberinfo-progress::-webkit-progress-value {
  background: rgb(241, 129, 25);
  height: 5px;
}

/* Firefox */
.memberinfo-progress::-moz-progress-bar {
  background: rgb(241, 129, 25);
  height: 5px;
}

/*중간 입력 폼 영역*/
.memberinfo-middle-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.memberinfo-middle-subtitle {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

.memberinfo-middle-id-div {
  width: 100%;
  display: flex;
  align-items: center;
}

.memberinfo-middle-id-input {
  width: 75%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  font-size: 12px;
}

.memberinfo-middle-confirmid {
  width: 25%;
  min-width: 80px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(241, 129, 25);
  color: white;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 14px;
}

.memberinfo-middle-pw-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 12px;
}

.memberinfo-middle-email-div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.memberinfo-middle-email-input {
    width: 50%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    font-size: 12px;
}

.memberinfo-middle-email-icon {
    width: 5%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: rgb(241, 129, 25);
    color: white;
}

.memberinfo-middle-email-detail-input {
    width: 45%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 5px 5px 0;
    padding: 0 10px;
    font-size: 12px;
}

.memberinfo-middle-email-select {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 30px;
}