.productdetail-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

.productdetail-modal {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    min-width: 60%;
    max-height: 90%;
    overflow-y: auto;
}

.productdetail-header {
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*모달 최상단 영역*/
.productdetail-top-content {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.productdetail-top-content-img {
    border: 1px solid black;
    width: 100%;
    height: 250px;
}

.productdetail-top-content-info1 {
    display: flex;
    flex-direction: row;
}

.productdetail-top-content-tag {
    border: none;
    border-radius: 5px;
    background-color: rgba(241, 129, 30, 0.8);
    color: white;
    font-size: 10px;
    display: flex;
    padding: 3px;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 4px;
}

/*모달 중간 영역*/
.productdetail-middle-content {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 10px;
}

.productdetail-middle-content-info1,
.productdetail-middle-content-info2,
.productdetail-middle-content-info3,
.productdetail-middle-content-info4 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 24%;
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.productdetail-middle-content-info-title {
    font-size: 15px;
    width: 100%;
    font-weight: bold;
}

.productdetail-middle-content-info-detail {
    width: 25%;
    height: 40%;
    border-radius: 5px;
    font-size: 12px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(241, 129, 30, 0.8);
    color: white;
}

/*모달 중간 설명 영역*/
.productdetail-description {
    width: 100%;
    margin-top: 20px;
}

.productdetail-description-title {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.productdetail-description-content {
    width: 100%;
    text-align: left;
    background-color: white;
    font-size: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

/*모달 하단 영역*/
.productdetail-bottom-content {
    padding-top: 20px;
}

.productdetail-bottom-content-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.productdetail-bottom-content-info {
    width: 100%;
}

.productdetail-bottom-content-writer {
    display: flex;
    flex-direction: row;
}

.productdetail-bottom-content-editor {
    display: flex;
    flex-direction: row;
}

.productdetail-bottom-content-writer > div,
.productdetail-bottom-content-editor > div {
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productdetail-bottom-content-writer > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.productdetail-bottom-content-writer > div:nth-child(odd),
.productdetail-bottom-content-editor > div:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.productdetail-bottom-content-writer > div:nth-child(even),
.productdetail-bottom-content-editor > div:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

/*하단 버튼 영역*/
.productdetail-btn-area {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.productdetail-btn {
    width: 15%;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
}

.productdetail-btn-edit {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
}

.productdetail-btn-edit:hover {
    background-color: rgba(241, 129, 30, 1);
    color: white;
    border-color: rgba(241, 129, 30, 1);
}

.productdetail-btn-delete {
    color: white;
    border: 1px solid rgba(230, 0, 0, 0.7);
    background-color: rgba(230, 0, 0, 0.7);
    cursor: pointer;
}

.productdetail-btn-delete:hover {
    background-color: rgba(200, 0, 0, 0.9);
    border-color: rgba(200, 0, 0, 0.9);
}

.productdetail-btn-close {
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
}

.productdetail-btn-close:hover {
    background-color: rgba(241, 129, 30, 1);
    color: white;
    border-color: rgba(241, 129, 30, 1);
}

.productmod-input{
    border: 1px solid #ccc;
    padding: 4px 6px;
    font-size: 14px;
    width: 150px;
    margin-bottom: 4px;
}

.productmod-select{
    width: 150px;
    padding: 4px 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 4px;
}

.productmod-textarea{
    width: 100%;
    height: 100px;
    padding: 6px;
    font-size: 14px;
    resize: none;
    border: 1px solid #ccc;
}