/* 백드롭 */
.review-answer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 랩 */
.review-answer-wrap {
    position: relative;
    width: 600px;
    max-width: 90%;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1000;
}

/* 상단 제목 */
.review-answer-header {
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* 내용 전체 */
.review-answer-contents {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 리뷰 상세 정보: 상품명 / 작성자 */
.review-detail-info {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.review-detail-title {
    flex: 1;
}

.review-detail-regNm {
    flex: 1;
    text-align: right;
}

/* 리뷰 내용 */
.review-detail-content {
    padding: 15px 20px;
    border: 1px solid rgba(255, 122, 0, 0.4);;
    border-radius: 6px;
    background-color: rgba(255, 122, 0, 0.1);
    font-size: 14px;
    color: #555;
    white-space: pre-wrap; 
}

/* 폼 */
.review-answer-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-answer-form input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
}

.review-answer-form input:focus {
    border-color: rgba(255, 122, 0, 0.8);
}

/* 버튼 영역 */
.review-answer-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 20px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

/* 버튼 스타일 */
.review-answer-cancel-button,
.review-answer-submit-button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.review-answer-cancel-button:hover,
.review-answer-submit-button:hover {
    background-color: rgba(241, 129, 30, 1);
    color: white;
    border-color: rgba(241, 129, 30, 1);
}
